* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3rem 0;
}
@media (min-width: 481px) {
  .header {
    padding: 2.5rem 4.5rem;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 2.5rem 5.5rem;
  }
}
.header .header-logo {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  color: #EB3850;
}

.menu-list {
  width: 100%;
  height: 0;
  background-color: #EB3850;
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 80px;
  right: 0;
  transition: all 0.5s;
  z-index: 2;
  visibility: hidden;
  overflow-y: hidden;
}
@media (min-width: 992px) {
  .menu-list {
    position: static;
    height: max-content;
    background-color: transparent;
    display: flex;
    gap: 40px;
    visibility: visible;
    overflow-y: visible;
    transition: none;
  }
}
.menu-list.menu-mobile {
  height: 180px;
  visibility: visible;
  overflow-y: visible;
}
.menu-list .size-menu-mobile {
  height: 380px;
}
.menu-list .list-item:nth-child(1) {
  position: relative;
}
.menu-list .list-item:nth-child(1) .item-link {
  margin-top: 35px;
  position: relative;
}
@media (min-width: 992px) {
  .menu-list .list-item:nth-child(1) .item-link {
    margin-top: 0;
  }
}
.menu-list .list-item:nth-child(1) .item-link::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -16px;
  border-top: 0.6rem solid #1A191E;
  border-right: 0.6rem solid transparent;
  border-bottom: 0;
  border-left: 0.6rem solid transparent;
}
@media (min-width: 992px) {
  .menu-list .list-item:nth-child(1) .item-link::after {
    border-top: 0.6rem solid #EB3850;
    right: -15px;
  }
}
.menu-list .item-link,
.menu-list .item-link-dropdown {
  display: inline-block;
  margin: 0 3rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFF;
  transition: all 0.3s;
}
@media (min-width: 481px) {
  .menu-list .item-link,
  .menu-list .item-link-dropdown {
    margin: 0 4.5rem 2rem;
  }
}
@media (min-width: 768px) {
  .menu-list .item-link,
  .menu-list .item-link-dropdown {
    margin: 0 5.5rem 2rem;
  }
}
@media (min-width: 992px) {
  .menu-list .item-link,
  .menu-list .item-link-dropdown {
    margin: 0;
    color: #1A191E;
  }
}
.menu-list .item-list-dropdown {
  background-color: #FFF;
  border-radius: 6px;
  margin: -2rem 3rem 1.5rem;
  height: 0;
  transition: all 0.5s;
  visibility: hidden;
  overflow-y: hidden;
  overflow: hidden;
}
@media (min-width: 481px) {
  .menu-list .item-list-dropdown {
    margin: -2rem 4.5rem 2rem;
  }
}
@media (min-width: 768px) {
  .menu-list .item-list-dropdown {
    margin: -2rem 5.5rem 2rem;
  }
}
@media (min-width: 992px) {
  .menu-list .item-list-dropdown {
    position: absolute;
    top: 30px;
    left: -60px;
    border: 2px solid #FFF8F9;
  }
}
.menu-list .item-list-dropdown .item-link-dropdown {
  margin: 0;
  color: #1A191E;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  padding: 5px 20px;
}
.menu-list .item-list-dropdown .item-link-dropdown:hover {
  background-color: #e1e1e1;
}
.menu-list .open-dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 189px;
  padding: 0.5rem 0;
  visibility: visible;
  overflow-y: visible;
  margin-top: 0;
}

.header-buttons {
  display: none;
}
@media (min-width: 992px) {
  .header-buttons {
    display: inline-flex;
    gap: 10px;
  }
}
.header-buttons .btn {
  border: none;
  background-color: transparent;
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.4rem;
}
.header-buttons .buttons-item-1 {
  color: #EB3850;
}
.header-buttons .buttons-item-2 {
  background-color: #EB3850;
  color: #FFF;
}

.menu-hamburger {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.4s;
}
@media (min-width: 992px) {
  .menu-hamburger {
    display: none;
  }
}
.menu-hamburger .hamburger-line {
  width: 100%;
  height: 0.3rem;
  background-color: #1A191E;
  border-radius: 0.3rem;
  position: relative;
  transition: all 0.3s;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-1 {
  transform: rotate(135deg);
  bottom: -1rem;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-2 {
  transform: scale(0);
  opacity: 0;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-3 {
  top: -0.5rem;
  transform: rotate(-135deg);
}

/*# sourceMappingURL=main.css.map */
