* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
}

:root {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 150%;
}

img {
  width: 100%;
}

p, h1, h2, h3 {
  transition: all 0.3s;
}

.header {
  margin: 0 auto;
  max-width: 130rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3rem;
  transition: all 0.1s;
}
.header .header-logo {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  color: #EB3850;
}

.menu-list {
  width: 100%;
  height: 0;
  background-color: #EB3850;
  font-family: "Inter", sans-serif;
  position: absolute;
  right: 0;
  top: 8rem;
  transition: all 0.5s;
  z-index: 2;
  visibility: hidden;
  overflow-y: hidden;
}
@media (min-width: 992px) {
  .menu-list {
    position: static;
    height: max-content;
    background-color: transparent;
    display: flex;
    gap: 4rem;
    visibility: visible;
    overflow-y: visible;
    transition: none;
  }
}
.menu-list.menu-mobile {
  height: 18rem;
  visibility: visible;
  overflow-y: visible;
}
.menu-list .list-item:nth-child(1) {
  position: relative;
}
.menu-list .list-item:nth-child(1) .item-link {
  margin-top: 3.5rem;
  position: relative;
}
@media (min-width: 992px) {
  .menu-list .list-item:nth-child(1) .item-link {
    margin-top: 0;
  }
}
.menu-list .list-item:nth-child(1) .item-link-caret {
  content: "";
  position: absolute;
  top: 0.7rem;
  right: -1.6rem;
  border-top: 0.6rem solid #FFF;
  border-right: 0.6rem solid transparent;
  border-bottom: 0;
  border-left: 0.6rem solid transparent;
}
@media (min-width: 992px) {
  .menu-list .list-item:nth-child(1) .item-link-caret {
    border-top-color: #1A191E;
    right: -1.5rem;
  }
}
.menu-list .item-link,
.menu-list .item-link-dropdown {
  display: inline-block;
  margin: 0 3rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFF;
}
@media (min-width: 481px) {
  .menu-list .item-link,
  .menu-list .item-link-dropdown {
    margin: 0 4.5rem 2rem;
  }
}
@media (min-width: 768px) {
  .menu-list .item-link,
  .menu-list .item-link-dropdown {
    margin: 0 5.5rem 2rem;
  }
}
@media (min-width: 992px) {
  .menu-list .item-link,
  .menu-list .item-link-dropdown {
    margin: 0;
    color: #1A191E;
  }
}
.menu-list .item-list-dropdown {
  background-color: #FFF;
  border-radius: 0.6rem;
  margin: -2rem 3rem 1.5rem;
  height: 0;
  transition: all 0.5s;
  visibility: hidden;
  overflow: hidden;
}
@media (min-width: 481px) {
  .menu-list .item-list-dropdown {
    margin: -2rem 4.5rem 2rem;
  }
}
@media (min-width: 768px) {
  .menu-list .item-list-dropdown {
    margin: -2rem 5.5rem 2rem;
  }
}
@media (min-width: 992px) {
  .menu-list .item-list-dropdown {
    position: absolute;
    margin-top: 0;
    top: 3rem;
    left: -6rem;
    border: 0.2rem solid #FFF2F4;
  }
}
.menu-list .item-list-dropdown .item-link-dropdown {
  margin: 0;
  color: #1A191E;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 2rem;
}
.menu-list .item-list-dropdown .item-link-dropdown:hover {
  background-color: #e1e1e1;
}
.menu-list .open-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 18.9rem;
  padding: 0.5rem 0;
  visibility: visible;
  margin-top: 0;
}
@media (min-width: 992px) {
  .menu-list .open-dropdown {
    height: 22rem;
  }
}

.header-buttons {
  display: none;
}
@media (min-width: 992px) {
  .header-buttons {
    display: inline-flex;
    gap: 1rem;
  }
}

.footer {
  background-color: #EB3850;
}

.container-footer {
  margin: 7rem auto 0;
  max-width: 130rem;
  padding: 4rem 3rem;
  text-align: center;
}
@media (min-width: 992px) {
  .container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.container-footer p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #FFF;
}
.container-footer img {
  width: 5rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(76%) saturate(2%) hue-rotate(62deg) brightness(116%) contrast(101%);
  display: none;
}
@media (min-width: 992px) {
  .container-footer img {
    display: block;
  }
}

.s-home {
  padding: 0 3rem;
  margin: 5rem auto 0;
  max-width: 130rem;
}
@media (min-width: 992px) {
  .s-home {
    display: flex;
    gap: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .s-home .home-content {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
}
.s-home .content-title {
  font-family: "DM Sans", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.28rem;
}
.s-home .content-title br {
  display: none;
}
@media (min-width: 768px) {
  .s-home .content-title br {
    display: block;
  }
}
@media (min-width: 768px) {
  .s-home .content-title {
    font-size: 6.4rem;
    line-height: 7.04rem;
  }
}
@media (min-width: 992px) {
  .s-home .content-title {
    font-size: 8.8rem;
    line-height: 8.68rem;
  }
}
.s-home .content-title span {
  color: #EB3850;
}
.s-home .content-description {
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #1A191E;
  font-weight: 500;
  line-height: 2.88rem;
}
@media (min-width: 768px) {
  .s-home .content-description {
    font-size: 2.4rem;
    line-height: 3.84rem;
  }
}
@media (min-width: 992px) {
  .s-home .content-description {
    font-size: 2.6rem;
  }
}
@media (min-width: 1200px) {
  .s-home .content-description {
    width: 70rem;
  }
}
.s-home .content-advantage {
  margin: 3rem 0 4rem;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
@media (min-width: 768px) {
  .s-home .content-advantage {
    flex-direction: row;
    gap: 4rem;
  }
}
@media (min-width: 1200px) {
  .s-home .content-advantage {
    margin: 5rem 0 5rem;
  }
}
.s-home .content-advantage .advantage-item {
  display: flex;
  gap: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .s-home .content-advantage .advantage-item {
    font-size: 2.3rem;
  }
}
.s-home .content-advantage .advantage-item img {
  width: 2.6rem;
}
@media (min-width: 481px) {
  .s-home .home-group-cta {
    display: flex;
    gap: 5rem;
  }
  .s-home .cta-button {
    width: 26rem;
  }
}
.s-home .cta-download-app {
  display: none;
}
@media (min-width: 481px) {
  .s-home .cta-download-app {
    display: flex;
    gap: 4rem;
  }
  .s-home .cta-download-app img {
    transition: all 0.3s;
  }
  .s-home .cta-download-app img:hover {
    transform: scale(1.2);
  }
}
.s-home .home-cards {
  display: none;
}
@media (min-width: 1200px) {
  .s-home .home-cards {
    width: 37rem;
    display: flex;
    justify-content: flex-end;
  }
}

.s-about {
  padding: 0 3rem;
  margin: 10rem auto 0;
  max-width: 130rem;
}
@media (min-width: 1200px) {
  .s-about {
    display: flex;
    padding: 0 13rem;
    gap: 12rem;
    margin: 15rem auto 0;
  }
}
.s-about .about-image {
  display: none;
}
@media (min-width: 1200px) {
  .s-about .about-image {
    display: block;
    position: relative;
  }
  .s-about .about-image .image-smartphone {
    width: 38rem;
  }
  .s-about .about-image .image-icon {
    width: 9.6rem;
    position: absolute;
    padding: 2.4rem;
    border-radius: 1.6rem;
    background-color: #FFF2F4;
  }
  .s-about .about-image .image-icon-one {
    top: -2%;
    left: 14%;
    animation: moveIcon 2s ease 2.9s infinite alternate;
  }
  .s-about .about-image .image-icon-two {
    top: 40%;
    right: -9%;
    animation: moveIcon 2s ease 1.9s infinite alternate;
  }
  .s-about .about-image .image-icon-three {
    top: 70%;
    left: -15%;
    animation: moveIcon 2s ease 0.6s infinite alternate;
  }
}
.s-about .content-title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}
.s-about .content-title span {
  color: #EB3850;
}
@media (min-width: 768px) {
  .s-about .content-title {
    font-size: 4.5rem;
  }
}
.s-about .content-description {
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: 500;
  margin-top: 3rem;
  max-width: 73.2rem;
}
@media (min-width: 768px) {
  .s-about .content-description {
    font-size: 1.9rem;
  }
}
.s-about .content-about-group {
  margin-top: 4.5rem;
}
@media (min-width: 1200px) {
  .s-about .content-about-group {
    margin-top: 0;
  }
}
.s-about .content-about-group div:nth-last-child(1) {
  border-bottom: none;
}
.s-about .about-card {
  padding: 0 0 4rem;
  margin-bottom: 2rem;
  border-bottom: 0.3rem solid #FFF2F4;
}
@media (min-width: 1200px) {
  .s-about .about-card {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 6rem 0;
    margin-bottom: 0;
  }
}
.s-about .about-card .card-icon {
  display: none;
}
@media (min-width: 1200px) {
  .s-about .about-card .card-icon {
    display: block;
    background-color: #FFF2F4;
    padding: 1.6rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 0.8rem;
  }
}
.s-about .about-card span {
  font-family: "DM Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
}
.s-about .about-card p {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.s-benefits {
  background-color: #FFF2F4;
}
@media (min-width: 1200px) {
  .s-benefits {
    margin-top: 10rem;
  }
}

.container-benefits {
  padding: 5rem 3rem;
  margin: 4rem auto 0;
  max-width: 130rem;
  background-color: #FFF2F4;
}
@media (min-width: 1200px) {
  .container-benefits {
    padding-top: 8rem;
  }
}
.container-benefits .benefits-hashtag {
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  color: #CB162E;
  font-weight: 600;
}
.container-benefits .benefits-title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 1rem;
}
.container-benefits .benefits-title span {
  color: #EB3850;
}
@media (min-width: 1200px) {
  .container-benefits .benefits-title {
    font-size: 4.5rem;
  }
}
.container-benefits .benefits-title span {
  color: #EB3850;
}
.container-benefits .benefits-container-cards {
  margin-top: 5rem;
}
@media (min-width: 1200px) {
  .container-benefits .benefits-container-cards {
    display: flex;
    flex-direction: column;
  }
  .container-benefits .benefits-container-cards .group-card-one,
  .container-benefits .benefits-container-cards .group-card-two {
    display: flex;
    gap: 3rem;
  }
  .container-benefits .benefits-container-cards .group-card-two {
    margin-top: 3rem;
    justify-content: flex-end;
  }
}
.container-benefits .benefits-container-cards .benefits-card {
  background-color: #FFF;
  border-radius: 8px;
  margin-bottom: 2rem;
  font-family: "Inter", sans-serif;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .container-benefits .benefits-container-cards .benefits-card {
    width: 290px;
    margin-bottom: 0;
    justify-content: flex-end;
  }
  .container-benefits .benefits-container-cards .benefits-card div {
    display: flex;
    align-items: center;
    height: 50px;
  }
}
.container-benefits .benefits-container-cards .benefits-card img {
  width: 34px;
}
.container-benefits .benefits-container-cards .benefits-card h3 {
  font-weight: 500;
  font-size: 1.8rem;
}
.container-benefits .benefits-container-cards .benefits-card p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.56rem;
}
@media (min-width: 1200px) {
  .container-benefits .benefits-container-cards .benefits-card p {
    font-size: 1.6rem;
  }
}
.container-benefits .benefits-container-cards .benefits-card a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #CB162E;
  text-transform: uppercase;
  text-decoration: underline;
  transition: all 0.3s;
}
.container-benefits .benefits-container-cards .benefits-card a:hover {
  color: #EB3850;
}

.s-depositions {
  padding: 0 3rem;
  margin: 10rem auto;
  max-width: 130rem;
}
.s-depositions .depositions-hashtag {
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  color: #CB162E;
  font-weight: 600;
}
.s-depositions .depositions-title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .s-depositions .depositions-title {
    font-size: 4.8rem;
  }
}
.s-depositions .depostions-subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  margin-top: 0.1rem;
}
@media (min-width: 768px) {
  .s-depositions .depostions-subtitle {
    font-size: 4.8rem;
  }
}
.s-depositions .depositions-peoples-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (min-width: 1200px) {
  .s-depositions .depositions-peoples-container {
    flex-direction: row;
    gap: 8rem;
  }
}
.s-depositions .people-container span {
  font-family: "DM Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 2rem;
  border-left: 0.3rem solid #CB162E;
}
.s-depositions .people-container p {
  font-family: "inter", sans-serif;
  font-size: 1.8rem;
  line-height: 2.88rem;
  margin-top: 2rem;
}

.s-cards {
  margin: 13rem auto 0;
  max-width: 130rem;
  padding: 0 3rem;
  text-align: center;
}
.s-cards .cards-hashtag {
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  color: #CB162E;
  font-weight: 600;
}
.s-cards .cards-title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .s-cards .cards-title {
    font-size: 3.8rem;
  }
}
@media (min-width: 1200px) {
  .s-cards .cards-title {
    font-size: 5rem;
    width: 50rem;
    margin: 1rem auto 0;
    line-height: 5.5rem;
  }
}
.s-cards .cards-descrption {
  font-size: 1.8rem;
  font-family: "inter", sans-serif;
  font-weight: 500;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .s-cards .cards-descrption {
    font-size: 2rem;
    max-width: 81.1rem;
    margin: 2.5rem auto;
  }
}
.s-cards .cards-image {
  margin-top: 5rem;
  max-width: 50rem;
}
.s-cards .cards-group-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 5rem auto 0;
}
@media (min-width: 768px) {
  .s-cards .cards-group-buttons {
    flex-direction: row;
    max-width: 50rem;
  }
}

.s-download {
  background-color: #FFF2F4;
}

.download-container {
  padding: 5rem 3rem;
  margin: 10rem auto 0;
  max-width: 130rem;
}
@media (min-width: 1200px) {
  .download-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30rem;
    padding: 7rem 3rem;
  }
}
.download-container .download-title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .download-container .download-title {
    font-size: 4.8rem;
    line-height: 5.5rem;
  }
}
.download-container .download-title span {
  color: #EB3850;
}
.download-container .download-description {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
}
@media (min-width: 1200px) {
  .download-container .download-description {
    font-size: 2rem;
  }
}
.download-container .download-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .download-container .download-buttons-container {
    flex-direction: row;
  }
}
.download-container .download-container-image {
  display: none;
}
@media (min-width: 1200px) {
  .download-container .download-container-image {
    display: block;
  }
  .download-container .download-container-image .image-background {
    width: 38rem;
    height: 38rem;
    border-radius: 5.6rem;
    background-color: #EB3850;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .download-container .download-container-image .image-background img {
    animation: imgPulsate 2s ease infinite;
    width: 18rem;
  }
}

.s-blog {
  margin: 10rem auto 0;
  max-width: 130rem;
  padding: 0 3rem;
}
.s-blog .blog-texts {
  display: flex;
  justify-content: space-between;
}
.s-blog .blog-title {
  font-size: 3.2rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .s-blog .blog-title {
    font-size: 4.8rem;
  }
}
.s-blog .blog-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-family: "inter", sans-serif;
  transition: all 0.3s;
  color: #EB3850;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .s-blog .blog-link {
    font-size: 2rem;
  }
}
.s-blog .blog-link:hover {
  color: #CB162E;
}
.s-blog .blog-link img {
  width: 3rem;
}
.s-blog .blog-card-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 1200px) {
  .s-blog .blog-card-container {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
}
.s-blog .blog-card-container .blog-card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.s-blog .blog-card-container .card-image {
  object-fit: cover;
  height: 25rem;
  border-radius: 1.6rem;
}
@media (min-width: 1200px) {
  .s-blog .blog-card-container .card-image {
    height: 35rem;
  }
}
.s-blog .blog-card-container h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
}
.s-blog .blog-card-container p {
  font-family: "inter", sans-serif;
  font-size: 1.7rem;
  margin-top: 1.5rem;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .s-blog .blog-card-container p {
    width: 39rem;
  }
}

.s-faq {
  margin: 10rem auto 0;
  max-width: 130rem;
  padding: 0 3rem;
  text-align: center;
}
.s-faq .faq-hashtag {
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  color: #CB162E;
  font-weight: 600;
}
.s-faq .faq-title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .s-faq .faq-title {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  .s-faq .faq-title {
    font-size: 5rem;
  }
}
.s-faq .faq-description {
  font-size: 1.8rem;
  font-family: "inter", sans-serif;
  font-weight: 500;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .s-faq .faq-description {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .s-faq .faq-description {
    font-size: 2.6rem;
  }
}
.s-faq .faq-accordion-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.s-faq .faq-accordion-container div:nth-last-child(1) {
  border-bottom: none;
}
@media (min-width: 1200px) {
  .s-faq .faq-accordion-container {
    width: 75rem;
    margin: 5rem auto;
  }
}
.s-faq .faq-accordion {
  padding: 6rem 0;
  border-bottom: 0.2rem solid #FFF2F4;
}
.s-faq .accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.s-faq .accordion-texts {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.s-faq .accordion-texts img {
  display: none;
}
@media (min-width: 1200px) {
  .s-faq .accordion-texts img {
    display: block;
    padding: 16px;
    border-radius: 8px;
    width: 64px;
    background-color: #fff2f4;
  }
}
.s-faq .accordion-texts p {
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.s-faq .accordion-icon img {
  width: 3.2rem;
}
.s-faq .accordion-content {
  padding: 3rem 1.5rem 0;
  font-family: "inter", sans-serif;
  display: none;
}
.s-faq .accordion-content p {
  font-size: 1.9rem;
  font-weight: 500;
}
.s-faq .faq-accordion.active-accordion .accordion-content {
  display: block;
}
.s-faq .accordion-arrow {
  transition: all 0.3s;
}
.s-faq .faq-accordion.active-accordion .accordion-arrow {
  transform: rotate(180deg);
}

.btn {
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.4rem;
  transition: all 0.3s;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.menu-hamburger {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.4s;
}
@media (min-width: 992px) {
  .menu-hamburger {
    display: none;
  }
}
.menu-hamburger .hamburger-line {
  width: 100%;
  height: 0.3rem;
  background-color: #1A191E;
  border-radius: 0.3rem;
  position: relative;
  transition: all 0.3s;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-1 {
  transform: rotate(135deg);
  bottom: -1rem;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-2 {
  transform: scale(0);
  opacity: 0;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-3 {
  top: -0.5rem;
  transform: rotate(-135deg);
}

.buttons-item-1 {
  color: #EB3850;
  padding: 1.2rem 3.2rem;
  background-color: transparent;
}

.buttons-item-2 {
  background-color: #EB3850;
  color: #FFF;
  padding: 1.2rem 3.2rem;
}
.buttons-item-2:hover {
  background-color: #CB162E;
}

.cta-button {
  width: 100%;
  height: 65px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #EB3850;
  color: #FFF;
  text-align: center;
}
.cta-button div {
  margin-top: 5px;
  transition: width 0.4s ease;
  width: 24px;
}
.cta-button img {
  transition: width 0.4s ease;
}
.cta-button:hover {
  background-color: #CB162E;
}
.cta-button:hover img {
  width: 32px;
}

.cards-button-1, .cards-button-2 {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  padding: 1.2rem 2rem;
  border-radius: 0.6rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: #EB3850;
  color: #FFF;
}
@media (min-width: 768px) {
  .cards-button-1, .cards-button-2 {
    padding: 1.2rem 2rem;
  }
}

.cards-button-2 {
  background-color: transparent;
  border: 2px solid #CB162E;
  color: #CB162E;
}

.download-button-1, .download-button-2 {
  background-color: #353436;
  padding: 0.8rem 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
@media (min-width: 481px) {
  .download-button-1, .download-button-2 {
    padding: 0.8rem 3.2rem;
    max-width: max-content;
  }
}
.download-button-1 img, .download-button-2 img {
  width: 3.2rem;
  transition: all 0.3s;
}
.download-button-1:hover, .download-button-2:hover {
  background-color: #1A191E;
}
.download-button-1:hover img, .download-button-2:hover img {
  transform: scale(1.2);
}
.download-button-1 div, .download-button-2 div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: justify;
}
.download-button-1 div span, .download-button-2 div span {
  color: #FFF;
}
.download-button-1 div span:nth-child(1), .download-button-2 div span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 400;
}
.download-button-1 div span:nth-child(2), .download-button-2 div span:nth-child(2) {
  font-size: 1.9rem;
  font-weight: 600;
}

@keyframes moveIcon {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(1rem, -4rem, 0);
  }
}
@keyframes imgPulsate {
  0% {
    width: 180px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 180px;
  }
}

/*# sourceMappingURL=main.css.map */
