@use '../base/breakpoints' as media;
@use '../base/colors' as color;

.s-about {
    padding: 0 3rem;
    margin: 8rem auto 0;
    max-width: 130rem;

    .about-image {
        display: none;
    }

    img {
        width: 100px;
    }

    .content-title {
        font-family: 'DM Sans', sans-serif;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 3.5rem;

        span {
            color: color.$primary-normal;
        }
    }

    .content-description {
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        line-height: 2.7rem;
        font-weight: 500;
        margin-top: 2rem;
    }
}