@use '../base/breakpoints' as media;
@use '../base/colors' as color;
@use '../utilities/mixins' as mixin;
.s-about {
    padding: 0 3rem;
    margin: 10rem auto 0;
    max-width: 130rem;

    @include media.desktops {
        display: flex;
        padding: 0 13rem;
        gap: 12rem;
        margin: 15rem auto 0;
    }

    .about-image {
        display: none;

        @include media.desktops {
            display: block;
            position: relative;

            .image-smartphone {
                width: 38rem;
            }

            .image-icon {
                width: 9.6rem;
                position: absolute;
                padding: 2.4rem;
                border-radius: 1.6rem;
                background-color: color.$primary-light;
            }

            .image-icon-one {
                top: -2%;
                left: 14%;
                animation: moveIcon 2s ease 2.9s infinite alternate;
            }

            .image-icon-two {
                top: 40%;
                right: -9%;
                animation: moveIcon 2s ease 1.9s infinite alternate;
            }

            .image-icon-three {
                top: 70%;
                left: -15%;
                animation: moveIcon 2s ease .6s infinite alternate;
            }
        }
    }

    .content-title {
        @include mixin.sectionsTitleStyles;

        @include media.smallTablets {
            font-size: 4.5rem;
        }
    }

    .content-description {
        font-family: 'Inter', sans-serif;
        font-size: 1.7rem;
        line-height: 2.7rem;
        font-weight: 500;
        margin-top: 3rem;
        max-width: 73.2rem;

        @include media.smallTablets {
            font-size: 1.9rem;
        }
    }

    .content-about-group {
        margin-top: 4.5rem;
        
        @include media.desktops {
            margin-top: 0;
        }
        
        & div:nth-last-child(1) {
            border-bottom: none;
        }

    }

    .about-card {
        padding: 0 0 4rem;
        margin-bottom: 2rem;
        border-bottom: 0.3rem solid color.$primary-light;

        @include media.desktops {
            display: flex;
            align-items: center;
            gap: 4rem;
            padding: 6rem 0;
            margin-bottom: 0;
        }

        .card-icon {
            display: none;

            @include media.desktops {
                display: block;
                background-color: color.$primary-light;
                padding: 1.6rem;
                width: 6.4rem;
                height: 6.4rem;
                border-radius: .8rem;
            }
        }

        span {
            font-family: 'DM Sans', sans-serif;
            font-size: 2.4rem;
            font-weight: 500;
        }

        p {
            margin-top: 1rem;
            font-size: 1.7rem;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
        }
    }
}