@use '../base/breakpoints' as media;
@use '../base/colors' as color;
@use '../utilities/mixins' as mixin;

.s-depositions {
    padding: 0 3rem;
    margin: 10rem auto;
    max-width: 130rem;

    .depositions-hashtag {
        @include mixin.sectionHashtagStyles;
    }

    .depositions-title {
        @include mixin.sectionsTitleStyles;
        margin-top: 1rem;
        line-height: 100%;

        @include media.smallTablets {
            font-size: 4.8rem;
        }
    }

    .depostions-subtitle {
        font-family: 'DM Sans', sans-serif;
        font-size: 3.2rem;
        font-weight: 300;
        margin-top: 1.1rem;

        @include media.smallTablets {
            font-size: 4.8rem;
        }
    }

    .depositions-peoples-container {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;

        @include media.desktops {
            flex-direction: row;
            gap: 8rem;
        }
    }

    .people-container {
        width: 33rem;
    }

    .people-container span {
        font-family: 'DM Sans', sans-serif;
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 2rem;
        border-left: .3rem solid color.$primary-dark;
    }

    .people-container p {
        font-family: 'inter', sans-serif;
        font-size: 1.8rem;
        margin-top: 2rem;
    }
}