@use '../base/breakpoints' as media;
@use '../base/colors' as color;

.s-home {
    padding: 0 3rem;
    margin: 5rem auto 0;
    max-width: 130rem;

    @include media.laptops {
        display: flex;
        gap: 2.5rem;
    }

    @include media.desktops {
        .home-content {
            flex: 3;
            display: flex;
            flex-direction: column;
        }
    }

    .content-title {
        font-family: 'DM Sans', sans-serif;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 5.28rem;

        br {
            display: none;

            @include media.smallTablets {
                display: block;
            }
        }

        @include media.smallTablets {
            font-size: 6.4rem;
            line-height: 7.04rem;
        }

        @include media.laptops {
            font-size: 8.8rem;
            line-height: 8.68rem;
        }

        span {
            color: color.$primary-normal;
        }
    }

    .content-description {
        margin-top: 2rem;
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        color: color.$black-normal;
        font-weight: 500;
        line-height: 2.88rem;

        @include media.smallTablets {
            font-size: 2.4rem;
            line-height: 3.84rem;
        }

        @include media.laptops {
            font-size: 2.6rem;
        }

        @include media.desktops {
            width: 70rem;
        }
    }

    .content-advantage {
        margin: 3rem 0 4rem;
        display: flex;
        flex-direction: column;
        font-family: 'Inter', sans-serif;

        @include media.smallTablets {
            flex-direction: row;
            gap: 4rem;
        }

        @include media.desktops {
            margin: 5rem 0 5rem;
        }

        .advantage-item {
            display: flex;
            gap: 1.5rem;
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 2rem;

            @include media.desktops {
                font-size: 2.3rem;
            }

            img {
                width: 2.6rem;
            }
        }
    }

    @include media.extraSmallDevices {
        .home-group-cta {
            display: flex;
            gap: 5rem;
        }

        .cta-button {
            width: 26rem;
        }
    }

    .cta-download-app {
        display: none;

        @include media.extraSmallDevices {
            display: flex;
            gap: 4rem;

            img {
                transition: all .3s;
            }

            img:hover {
                transform: scale(1.2);
            }
        }
    }

    .home-cards {
        display: none;

        @include media.desktops {
            width: 37rem;
            display: flex;
            justify-content: flex-end;
        }
    }
}