$primary-normal: #EB3850;
$primary-light: #FFF8F9;
$primary-dark: #B6182D;

$black-normal: #1A191E;
$black-light: #F9F9F9;

$white-normal:#FFF;                                                                                                                                                          