@use 'colors' as color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: color.$white-normal;
}

:root {
    font-size: 62.5%; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {    
    line-height: 150%;
}

img {
    width: 100%;
}