@use 'colors' as color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: color.$white-normal;
}

:root {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
}

p,
h1,
h2,
h3 {
    transition: all .3s;
    line-height: 150%;
}

h1::selection,
h2::selection,
h3::selection,
span::selection,
p::selection,
img::selection,
a::selection,
button::selection,
br::selection {
    background-color: color.$primary-normal;
    color: color.$white-normal;
}