@use '../base/colors' as color;
@use '../base/breakpoints' as media;

.btn {
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: .4rem;
    transition: all .3s;
}

// button menu hamburger mobile

.menu-hamburger {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transition: all .4s;

    @include media.laptops {
        display: none;
    }

    .hamburger-line {
        width: 100%;
        height: .3rem;
        background-color: color.$black-normal;
        border-radius: .3rem;
        position: relative;
        transition: all .3s;
    }
}

.menu-hamburger.menu-hamburger-close .hamburger-line-1 {
    transform: rotate(135deg);
    bottom: -1rem;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-2 {
    transform: scale(0);
    opacity: 0;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-3 {
    top: -0.5rem;
    transform: rotate(-135deg);
}

// Buttons Header

.buttons-item-1 {
    color: color.$primary-normal;
    padding: 1.2rem 3.2rem;
    background-color: transparent;
}

.buttons-item-2 {
    background-color: color.$primary-normal;
    color: color.$white-normal;
    padding: 1.2rem 3.2rem;

    &:hover {
        background-color: color.$primary-dark;
    }
}

// Button Home 

.cta-button {
    width: 100%;
    height: 65px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: color.$primary-normal;
    color: color.$white-normal;
    text-align: center;

    span {
        margin-top: 5px;
        transition: all .3s;
        width: 24px;    
    }

    &:hover {
        background-color: color.$primary-dark;
    }

    &:hover span {
        transform: scale(1.2);
        margin-left: 5px;
    }
}