@use '../base/colors' as color;
@use '../base/breakpoints' as media;

.btn {
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: .4rem;
}


// button menu hamburger mobile

.menu-hamburger {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transition: all .4s;

    @include media.laptops {
        display: none;
    }

    .hamburger-line {
        width: 100%;
        height: .3rem;
        background-color: color.$black-normal;
        border-radius: .3rem;
        position: relative;
        transition: all .3s;
    }
}

.menu-hamburger.menu-hamburger-close .hamburger-line-1 {
    transform: rotate(135deg);
    bottom: -1rem;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-2 {
    transform: scale(0);
    opacity: 0;
}

.menu-hamburger.menu-hamburger-close .hamburger-line-3 {
    top: -0.5rem;
    transform: rotate(-135deg);
}

.buttons-item-1 {
    color: color.$primary-normal;
    padding: 1.2rem 3.2rem;
    background-color: transparent;
}

.buttons-item-2 {
    background-color: color.$primary-normal;
    color: color.$white-normal;
    padding: 1.2rem 3.2rem;
}