@use '../base/breakpoints' as media;
@use '../base/colors' as color;

.footer {
    background-color: color.$primary-normal;
}

.container-footer {
    margin: 7rem auto 0;
    max-width: 130rem;
    padding: 4rem 3rem;
    text-align: center;

    @include media.laptops {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        color: color.$white-normal;
    }

    img {
        width: 5rem;
        filter: brightness(0) saturate(100%) invert(100%) sepia(76%) saturate(2%) hue-rotate(62deg) brightness(116%) contrast(101%);
        display: none;

        @include media.laptops {
            display: block;
        }
    }
}