@use '../base/colors' as color;
@use '../base/breakpoints' as media;

.header {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;
    transition: all .1s;

    .header-logo {
        font-family: 'DM Sans', sans-serif;
        font-size: 3.2rem;
        font-weight: 600;
        color: color.$primary-normal;
    }
}

.menu-list {
    width: 100%;
    height: 0;
    background-color: color.$primary-normal;
    font-family: 'Inter', sans-serif;
    position: absolute;
    right: 0;
    top: 80px;
    transition: all .5s;
    z-index: 2;
    visibility: hidden;
    overflow-y: hidden;

    @include media.laptops {
        position: static;
        height: max-content;
        background-color: transparent;
        display: flex;
        gap: 40px;
        visibility: visible;
        overflow-y: visible;
        transition: none;
    }

    &.menu-mobile {
        height: 180px;
        visibility: visible;
        overflow-y: visible;
    }

    .list-item:nth-child(1) {
        position: relative;
    }

    .list-item:nth-child(1) .item-link {
        margin-top: 35px;
        position: relative;

        @include media.laptops {
            margin-top: 0;
        }

        &-caret {
            content: "";
            position: absolute;
            top: 7px;
            right: -16px;
            border-top: 0.6rem solid color.$white-normal;
            border-right: 0.6rem solid transparent;
            border-bottom: 0;
            border-left: 0.6rem solid transparent;

            @include media.laptops {
                border-top-color: color.$black-normal;
                right: -15px;
            }
        }
    }

    .item-link,
    .item-link-dropdown {
        display: inline-block;
        margin: 0 3rem 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: color.$white-normal;

        @include media.extraSmallDevices {
            margin: 0 4.5rem 2rem;
        }

        @include media.smallTablets {
            margin: 0 5.5rem 2rem;
        }

        @include media.laptops {
            margin: 0;
            color: color.$black-normal;
        }
    }

    .item-list-dropdown {
        background-color: color.$white-normal;
        border-radius: 6px;
        margin: -2rem 3rem 1.5rem;
        height: 0;
        transition: all .5s;
        visibility: hidden;
        overflow: hidden;

        @include media.extraSmallDevices {
            margin: -2rem 4.5rem 2rem;
        }

        @include media.smallTablets {
            margin: -2rem 5.5rem 2rem;
        }

        @include media.laptops {
            position: absolute;
            margin-top: 0;
            top: 30px;
            left: -60px;
            border: 2px solid color.$primary-light;
        }

        .item-link-dropdown {
            margin: 0;
            color: color.$black-normal;
            font-weight: 500;
            display: inline-block;
            width: 100%;
            padding: 5px 20px;

            &:hover {
                background-color: #e1e1e1;
            }
        }
    }

    .open-dropdown {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 189px;
        padding: 0.5rem 0;
        visibility: visible;
        margin-top: 0;

        @include media.laptops {
            height: 220px;
        }
    }
}

.header-buttons {
    display: none;

    @include media.laptops {
        display: inline-flex;
        gap: 10px;
    }
}